@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Tektur:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
  scroll-behavior: smooth;
}

body {
  
  transition: 2s;
  background: linear-gradient(#f5f5dc, #FFFF);
}

  /* Animacoes */

@keyframes fade-in {
    0%  {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    
    100% {
    
      opacity: 1;
      transform: translateY(0) scale(1);
    }}
    @keyframes fade-out {
      0%  {
        opacity: 0;
        transform: translateY(30px) scale(0.3);
      }
      100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
      }
      }
  
  [data-animacao] {
  
  opacity: 0;
  transition: 1s;
  
  }
  
  [data-animacao="left"] 
  {
  
    transform: translate3d(-50px, 0px, 0px);
  
  }
  
  [data-animacao="right"]
  {
    
   transform: translate3d(50px, 0px, 0px);
  
  }
  
  [data-animacao].slide {
  
  opacity: 1;
  transform: translate3d(0px,0px,0px);
  
  }

/* Header */

header {
    background-color: #ea9808;
    background: linear-gradient(#fdb840, #ea9808 );
    color: #FFFF;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    border-bottom: solid #fdb840;
    animation: fade-out 1s normal;
  }
  
  #logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFF;
    height: 6em;
    width: 6em;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    margin-left: 2em;
  }
  
  #logo img {
    height: 3.9em;
    width: 3.5em;
    border-radius: 100%;
  }
  
    nav a {
      position: relative;
      color: #FFFF;
      text-decoration: none;
      margin-left: 20px;
      font-weight: bold;
      padding-bottom: 1em;
      overflow: hidden;
      padding: 1em;
  }
  
  nav a:hover {
    color: #FFFF;
    transition: 0.5s;
  }
  
  nav a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px; /* Espessura da borda */
      background-color: #FFFF; /* Cor da borda */
      transform: scaleX(0); /* Inicialmente invisível */
      transition: transform 0.5s ease; /* Animação suave */
  }
  
  nav a:hover::after {
      transform: scaleX(1);
    }
  
    #active {
      color: #FFFF;
    }
  
    #active::after {
      color: #FFFF;
      transform: scaleX(1);
    }

    /*  main  */

a {

  color: aqua;

  &:hover {
    color: green;
  }

}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    border-top: #ea9808 solid;
    bottom: 0;
    width: 100% ;
  }
  
  #localizacao iframe {
    width: 100%;
    height: 10em;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Seção Sobre */

.sobre {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  text-align: center; 
  margin-left: 55vh;
  margin-right: 55vh;
  margin-top: 35vh;
  margin-bottom: 35vh;
  line-height: 2.8em;
}

.sobre > h1 {

  color: #2a7f8f;
  font-size: 2.5em;
  background-color: #f5f5dc;
  border-radius: 50px;
  box-shadow: 5px 2px 6px #2a7f8f;
}

#section-text-box {

  font-size: 1.5em;
  text-align: start;
  box-shadow: 5px 2px 6px #2a7f8f;

}